:root {
    --main-font-size: 1.35em;
}

body {
    overflow-x: hidden;
    background-image:
    url(assets/capa.png),
    url(assets/ruido.png),
    linear-gradient(to right, rgba(255, 0, 64, 0.712) 10%, rgba(255, 0, 157, 0.692) 30%, rgba(129, 0, 189, 0.705));
    background-attachment: fixed;
}


/*Cabeçalho*/
nav {
    background-color: rgba(0, 0, 0, 0.555);
}

.logo {
    width: 9em;
}

.cabecalho {
    width: 100vw;
    height: 100vh;
}

.btn-cabecalho-1 {
    border: 2px solid rgb(183, 82, 230);
    border-radius: 30px;
    background-color: rgb(183, 82, 230);
    font-size: var(--main-font-size);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.btn-cabecalho-2 {
    border: 2px solid white;
    border-radius: 30px;
    font-size: var(--main-font-size);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
/*FIm cabeçalho*/


/*Área de conteúdo 1*/
.albums {
    width: 40%;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 40px;
}

.titulos h1, .titulos h5 {
    color: blueviolet;
}

.titulos p {
    color: black;
}
/*Fim área de conteúdo 1*/


/*Área de conteúdo 2*/
.artigo-2-texto {
    width: 30%;
}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    margin-top: 40px;
}
/*Fim área de conteúdo 2*/


/*Rodapé*/
.rodape {
    background-color: black;
    height: 230px;
    position: relative;
}

.rodape a {
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}
/*Fim rodapé*/


/*Modificações gerais*/
h1 {
    font-weight: bold;
    color: #9bf0e1;
}

h5 {
    font-size: 4em;
    font-weight: bold;
    color: white
}

h6 {
    font-size: 8em;
    margin: 0px 15px;
}

p {
    font-weight: bold;
    color: white;
}
/*Fim modificações gerais*/


/*Media Queries*/
@media (max-width: 767.98px) {
    :root {
        --main-font-size: 1.2em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /*Cabeçalho*/
    .logo {
        width: 7em;
    }


    /*Área de conteúdo 2*/
    .artigo-2-texto {
        width: 80%;
    }

    .rotacionar {
        margin-top: -70px;
        width: 95%;
    }

    .rotacionar img {
        width: 50%;
        margin-bottom: 10px;
    }


    /*Rodapé*/
    .rodape {
        height: 50vh;
    }
    
    h6 {
        font-size: 5em;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /*Área de conteúdo 1*/
    .albums {
        width: 45%;
    }


    /*Área de conteúdo 2*/
    .artigo-2-texto {
        width: 90%;
    }

    .rotacionar {
        margin-top: -70px;
        margin-left: 200px;
        width: 60%;
    }


    /*Rodapé*/
    .rodape {
        height: 35vh;
    }
}

@media (min-width: 1850px) {
    .rotacionar {
        width: 40%;
    }
}